// app global css in Stylus form
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

//app font
.comfortaa
    font-family: 'Comfortaa', cursive;

.lato
    font-family: 'Lato', sans-serif;

.q-if
.q-input-target-placeholder
color $primary !important
// .q-input-target
// &::-webkit-input-placeholder /* Chrome/Opera/Safari */
color $primary !important
&::-moz-placeholder
color $primary !important
&:-ms-input-placeholder
color $primary !important

button
    fontFamily "Comforta",Arial;

.q-table__top,
  .q-table__bottom,
  thead tr:first-child th 
     color: $primary
     
.bg-tertiary
    background-color: $tertiary 
    
.blue_button
    background-color: $blue_button !important

.orange_button
    background-color: $orange_button !important

.green_button
    background-color: $green_button !important

.red_button
    background-color: $red_button !important

.q-btn
   font-family: "Lato" !important

.text-tertiary
    color: $tertiary 

// .q-field__prefix, .q-field__suffix, .q-field__input, .q-field__native, .q-field__marginal
//    color: #ffffff !important
    //background-image : linear-gradient(to top, $transition_primary 0%, $primary 100%);
    /* bg color is important for th; just specify one */
    
// .q-field__prefix, .q-field__suffix, .q-field__input, .q-field__native, .q-field__marginal
.search-icon
    color:#939292  !important;

.page-background, .q-layout
    background-color: #eaeaeb

.page-title
    font-size: 28px;
//Dialog Styles

.modal-card
    min-width: 800px


//card component css

.stock-level-card
    width: 360px;
    height: 175px;
    border-radius: 5px;
    background-color: #fafaf6;


//loader/spinner styles
.loader-div-height
    min-height: 85vh