// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #352D9F
$secondary = #FF8246
$accent    = #00C58D
$tertiary  = #EAEAEB
$dark      = #222222


$transition_primary = #6A5FDD
$icon_grey = #949393

$blue_button = #1976D3
$orange_button = #FF9800
$green_button = #27A79A
$red_button = #FB714E

$positive  = #27A79A
$negative  = #FB714E
$info      = #6A5FDD
$warning   = #F2C037

